<mat-tab-group backgroundColor="accent">
    <mat-tab label="Inventory"> 
      <!-- GRAB THE MEDICATIONS INVENTORY HERE -->
      
      
      
      
      
        
        

        



       </mat-tab>
    <mat-tab disabled="true" label="POS">
        <mat-selection-list #alerts>
        <mat-list-option class="transparent-bg" *ngFor="let alerts of alertSettings">
            {{alerts}}
          </mat-list-option>
        </mat-selection-list>
        
        
         </mat-tab>
    <mat-tab disabled="true" label="Analytics"> 

        <!-- We need some analytics data here, 
        how can we generate some random relevant data -->
          
            
        
    </mat-tab>
  </mat-tab-group>