<mat-card>
    <mat-card-header>
      <mat-card-title>Streamlined Product Management:</mat-card-title>
      <mat-card-subtitle>Seamlessly add, update, and remove products from your inventory using our intuitive interface. Capture essential details like name, description, quantity, expiration date, and supplier information to keep your inventory organized and up to date.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button color="primary" mat-button>TRY IT OUT</button>
      
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Real-time Stock Tracking</mat-card-title>
      <mat-card-subtitle>Stay in control of your inventory with real-time stock tracking. Our system automatically updates stock levels as products are added or sold, providing you with accurate and current information on product availability.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      
      <button color="primary" mat-button>EXPLORE API</button>
    </mat-card-actions>
  </mat-card>
  