<mat-tab-group backgroundColor="primary">
    <mat-tab label="Orders"> 
      <app-order-list></app-order-list>

      <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>

      
      
      
         
       




       </mat-tab>
    <mat-tab label="Invoices">
        <mat-selection-list #alerts>
       
        </mat-selection-list>
        
        
         </mat-tab>
    <mat-tab label="Order Settings"> 

        
          
           
        
    </mat-tab>
  </mat-tab-group>