<!-- Nav Menu -->
<app-menu></app-menu>
<router-outlet></router-outlet>



<!-- THIS IS ACTUALLY THE REGISTER COMPONENT
Create a new register component and place this stepper code there for user's to register a new pharmacy.
How can we customize our stepper to be a login comp? -->


<!-- connect these to our login endpoints for our backend API -->
<div class="centered-container">
    <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>password</mat-label>
        <input matInput>
    </mat-form-field>
</div>
