
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">MENU
    <mat-icon></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button class="router-link" routerLink="/" mat-menu-item>
        
      <span>Go Home</span>
    </button>
    <button class="router-link" routerLink="/" mat-menu-item disabled>
     
      <span >API</span>
    </button>
    <button class="router-link" routerLink="/" mat-menu-item disabled>
      
      <span>Plans</span>
    </button>
  </mat-menu>
  