
<button mat-icon-button routerLink="/"   aria-label="Example icon-button with a menu">
  <mat-icon>home</mat-icon>
    
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu"  aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
      
    </button>
  <mat-menu #menu="matMenu">
    <button class="router-link" routerLink="/register" mat-menu-item>
        
      <span>Register</span>
    </button>
    <button class="router-link" routerLink="/" mat-menu-item >
     
      <span routerLink="/api-docs">API</span>
    </button>
    <button class="router-link" routerLink="/" mat-menu-item disabled>
      
      <span>Plans</span>
    </button>
  </mat-menu>
  