


  <app-menu></app-menu>
<!-- TOOLBAR ENDS - PLACE THIS INTO TOOLBAR COMP -->
 
 <!-- FIRST HOME SECTION -->
  <div class="container">
    <div class="section">
      <video class="background-video" loop muted autoplay>
        <source src="assets/pills-5448.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="content">
        <h1>Welcome to MedTrack</h1>
        <p>Your Pharmacy Inventory Management Solution
        </p>
        <p>
          Manage your inventory and streamline your operations.
        </p>
        <button routerLink="login" mat-raised-button class="custom-button" >Get Started</button>
        <button  mat-raised-button (click)="openBottomSheet()" class="custom-button" >Download PitchDeck</button>
      </div>
    </div>
  


    <div class="section">
    <app-home-cards></app-home-cards>
    </div>
  </div>

  <!-- SECOND HOME SECTION -->
  <div class="hero">
    
  </div>
 <app-footer></app-footer>
