.background-video {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .background-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
    z-index: -1;
  }
  
  .background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .white-text {
    color: white;
  }

  .transparent-bg {
    background-color: #00a79d; /* Update the opacity value as needed */
  }

  .accent-bg{
    background-color: #004d7a;
  }

  .Custom-b{
    background-color:#6ab04c ;
  }