mat-icon{
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.footer{
    display: flex;
    justify-content: center;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00a79d;
    color: white;
    padding: 20px;
    align-items:center;
}