/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --custom-primary: #6ab04c; /* Update with your desired color */
    --custom-accent: #6ab04c; /* Update with your desired color */

    background-color: #00a79d;
  }
  