

<mat-toolbar class="custom-toolbar" color="primary">
    <div class="logo-container">
      
      <img class="img-text" src="assets/medlogo.png" height="25px" width="25px" alt="MedTrack Logo" class="logo">MedTrack
    </div>
    <mat-divider [vertical]="true"></mat-divider>

    <app-menu></app-menu>
    
  </mat-toolbar>
  <mat-divider></mat-divider>

 
  
 
  <div class="container">
    <video class="background-video" loop muted autoplay>
      <source src="assets/pills-5448.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="content">
      <h1>Welcome to MedTrack</h1>
      <p>Your Futuristic Pharmacy Inventory Management Solution</p>
      <button routerLink="login" mat-raised-button class="custom-button" color="primary">Get Started</button>
    </div>
  </div>
  

 
 
