.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
  }
  
  .content {
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .logo-container{
    color: black;
    
  }
  
  h1 {
    color:rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .custom-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .custom-button:hover {
    background-color: white;
    border-color: white;
    color: black;
  }

  .custom-toolbar {
    opacity: 0.8;
    border-radius: 8px;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2); /* Transparent white border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: transparent;
  }
  
  
  