<!-- Nav Menu -->
  <app-menu></app-menu>
  



<!-- THIS IS ACTUALLY THE REGISTER COMPONENT
Create a new register component and place this stepper code there for user's to register a new pharmacy.
How can we customize our stepper to be a login comp? -->
<div class="centered-container">
  <h1>Register Pharmacy</h1>
  <video class="background-video" loop muted autoplay>
    <source src="../../assets/pills-5448.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<mat-stepper #stepper> 
<mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Pharmacy Name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
            
            <button mat-button matStepperNext> Next </button>
        </div>
    </form>

</mat-step>

<mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
               required>
      </mat-form-field>
      <div class="step-buttons">
        
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Password is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Create a Password</ng-template>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. password123" formControlName="thirdCtrl"
               required>
      </mat-form-field>
      <div class="step-buttons">
        
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>


  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div class="step-buttons">
      <button routerLink="/login" mat-button matStepperPrevious>Go To Login</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
</div>
